@page "/istasyon" 

@* <div class="container">
    @for (int i = 0; i < istasyon_name.Count; i++)
    {
       <div class="dynamic-div"> @istasyon_name[i]

            <div>@istasyon_status[i]</div>

       </div>
               
      
    }

</div> *@
@inject NavigationManager Navigation
<div class="container">
    @for (int i = 0; i < istasyon_name.Count; i++)
    {
        <div class="istasyon-card" @onclick="Navigatetoistasyondetay" style="background-color: @(istasyon_status[i] == "Çalýþýyor" ? "#28a745" : istasyon_status[i] == "Arýzalý" ? "#dc3545" : "#ffc107" )">
            <div class="istasyon-timer">
                Zaman: @timer[i]
            </div>
            <div class="istasyon-name">@istasyon_name[i]</div>
            <div class="istasyon-status">Durum: @istasyon_status[i]</div>
            <div class="istasyon-personnel">Personel: @per_name[i]</div>
        </div>
    }
   
</div>

@code {
    private List<string> istasyon_name = new()
    {
       "Kaynak-1","Kaynak-2","Kaynak-3","Kaynak-4","Kaynak-5","Kaynak-6","Kaynak-7","Kaynak-8","Kaynak-9"
    };
    private List<string> istasyon_status { get; set; } = new()
    {
       "Çalýþýyor","Boþta","Çalýþýyor","Boþta","Arýzalý","Arýzalý","Çalýþýyor","Boþta","Arýzalý"
    };
    private List<string> per_name { get; set; } = new()
    {
       "Çalýþýyor","Boþta","Çalýþýyor","Boþta","Arýzalý","Arýzalý","Çalýþýyor","Boþta","Arýzalý"
    };
    private List<string> timer { get; set; } = new()
    {
       "01:08:54","00:00:00","01:08:54","--:--:--","05:12:03","--:--:--","--:--:--","05:12:03","--:--:--"
    };
    private void Navigatetoistasyondetay()
    {
        Navigation.NavigateTo("/Isemirleri");
    }
}
